
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FBE9D0;
}

header {
  background-color: #8c1d0d;
  padding: 0px 20px;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;  
  flex-shrink: 0;
  margin-left: 40px;  
}

.logo img {
  width: 90px;
}


.nav-icons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  flex-shrink: 0;
}


.nav-icons > a,
.menu-container .btn-menu {
  width: 45px;
  height: 45px;
  background: white;
  color: rgb(188, 30, 30);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}


.nav-icons > a:first-child {
  width: auto;
  padding: 0 18px;
  border-radius: 20px;
}


.nav-icons > a:hover,
.menu-container .btn-menu:hover {
  background: #000000;
  color: #ffffff;
}

.nav-icons > a:active,
.menu-container .btn-menu:active {
  background: #931212;
  color: #ffffff;
}


.contenedor-busqueda {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.search-box {
  width: 100%;
  max-width: 650px;
  height: 45px;
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 0 45px 0 15px;
  font-size: 16px;
}

.contenedor-busqueda i {
  position: absolute;
  right: calc(50% - 325px + 20px);
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  pointer-events: none;
}

@media (max-width: 768px) {
  .contenedor-busqueda i {
    right: 20px;
  }
}

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
}

.menu-lateral {
  position: absolute;
  top: 55px;
  right: 0;
  width: 260px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  gap: 25px;
  z-index: 9999;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.menu-lateral a {
  color: #8c1d0d;
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
  width: auto;
  height: auto;
  background: transparent;
  border-radius: 0;
  display: inline;
}

.menu-lateral a:hover {
  color: rgb(0, 0, 0);
  background: transparent;
}

.menu-container:hover .menu-lateral {
  display: flex;
}


#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Imagenes/Hero);
  background-size: cover;
}


.categorias {
  padding: 30px;
  text-align: center;
}

.categorias h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #b71c1c; 
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  background: #fdf6ec; 
  color: #b71c1c;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.tabs button.active {
  background: #b71c1c;
  color: white;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

.producto {
  background: #fdf6ec;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.producto img {
  max-width: 100%;
  border-radius: 8px;
}

.producto button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background: #b71c1c;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}


.info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
  background: #fdf6ec; 
}

.card h2 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #b71c1c; 
}

.card p {
  margin: 15px 0;
}

.btn {
  display: inline-block;
  background: #ff9800; 
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.contenedor-sobrenosotros {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 50px;
  flex-wrap: wrap;
}

.cuadro {
  background: #8b0000;
  border: 4px solid #fdf6ec;
  border-radius: 10px;
  padding: 20px;
  color: white;
  max-width: 500px;
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.4;
}

.contenedor-cuadros .cuadro {
  background-color: #b71c1c; 
  color: white;              
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
.cuadro p {
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}


.mision {
  width: 500px;
  min-height: 420px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #FCEFDD;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.mision .header {
  background-color: #b71c1c;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.mision p {
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
}

.impacto {
  width: 500px;
  min-height: 420px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #FCEFDD;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.impacto .header {
  background-color: #b71c1c;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.mision .impacto,
.impacto .contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  padding: 20px;
}

.impacto .contenido img {
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
}

.impacto .contenido p {
  font-size: 16px;
  font-weight: bold;
}


.pie-pagina {
  width: 100%;
  background-color: #8c1d0d;
  color: #fff;
  margin-top: 50px;
}

.pie-pagina .grupo-1 {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 50px 0;
}

.pie-pagina .grupo-1 .box figure {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 300px;  
  height: auto;
  display: block;
  margin: auto;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fdf6ec;
  margin-bottom: 20px;
  font-size: 28px;
}

.pie-pagina .grupo-1 .box p {
  color: #f5e6d3;
  margin-bottom: 12px;
  line-height: 1.6;
  font-size: 18px;
}

.pie-pagina .box p i {
  margin-right: 10px;
  color: #fdf6ec;
}

.pie-pagina .red-social {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.pie-pagina .grupo-1 .red-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: #8c1d0d;
  background-color: #fdf6ec;
  border-radius: 10px;
  font-size: 22px;
  transition: 0.3s ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  background-color: #d9b382;
  transform: scale(1.1);
}

.red-pagos a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  background-color: #fdf6ec;
  color: #8c1d0d;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

.red-pagos a:hover {
  background-color: #b71c1c;
  color: white;
  transform: translateY(-3px);
}

.nequi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #8c1d0d;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.pie-pagina .grupo-2 {
  background-color: #6d1206;
  padding: 18px;     
  text-align: center;
  color: #fdf6ec;
  font-size: 16px;
}

@media screen and (max-width:900px) {
  .pie-pagina .grupo-1 {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .pie-pagina .red-social {
    justify-content: center;
  }
}